<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awareness of Waste Recycling</title>
    <!--css link-->
    <link rel="stylesheet" href="{{ url_for("static",filename="css/404.css") }}" />
 <!--favicon link-->
 <link rel="shortcut icon" href="{{ url_for("static",filename="images/logo.png") }}" type="image/x-icon">
 
</head>
<body>
    <div id="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x1_5"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>
    <div class='c'>
        <div class='_404'>404</div>
        <hr>
        <div class='_1'>THE PAGE</div>
        <div class='_2'>WAS NOT FOUND</div>
        <h4>The Dish you're looking for is not  here you can try <a href = "/" style="color: green;"><u>this page</u></a> instead</h4>
        <a class='btn' href="./index.html" >BACK TO HOME</a>
    </div>
</body>
</html>
